black==23.3.0
click==8.1.3
ffmpeg-python==0.2.0
flake8==6.0.0
future==0.18.3
mccabe==0.7.0
mypy==1.2.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.5.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytaglib==2.0.0
tomli==2.0.1
typing_extensions==4.5.0
